<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Select Menu</title>
</head>
<body>
<a href="test">Test Page</a>
<a href="adminOnly">adminOnly Page</a>
<a sec:authorize="!isAuthenticated()" href="login">Login</a>
<a sec:authorize="isAuthenticated()" href="logout">Logout</a>
<p sec:authorize="hasRole('ADMIN')">[이 부분은 운영자(ADMIN)에게만 나타남]</p>
<p sec:authorize="hasRole('GUEST')">[이 부분은 손님(GUEST)에게만 나타남]</p>
<p sec:authorize="isAuthenticated()">[이 부분은 로그인한 사용자(isAuthenticated) 모두에게 나타남]<p>

<p sec:authorize="isAuthenticated()">내가 좋아하는 음식은 <span th:text="${food}" class="food"></span> 입니다.</p>
<p th:text="${#authentication.getPrincipal()}"></p>
</body>
</html>